<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maximbravo.chongo2">

    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity android:name=".MainActivityWear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light"></activity>
        <service
            android:name=".DataLayerListenerService"
            >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*"
                    />
            </intent-filter>
        </service>
    </application>

</manifest>
